<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/students">Students</a>
        <a href="/about">About</a>
    </nav>

    <div class="container">

        <div class="card">

            <h1>About This Project</h1>

            

            <p>
                The purpose of this project is to help register students
                for the CSE310 course where students can strengthen their
                software development knowledge and improve their coding skills
                through practical learning and projects.
            </p>

            <p>
                The system allows users to add multiple students, manage
                registration information, and view all registered students
                through dynamically generated web pages.
                The Course will involve students working in team s to improve
                their collaboration and communication skills which are crucial
                in the work setting
            </p>

          

            

        </div>

    </div>

</body>

</html>